.page{
width: 65%;
margin: auto;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 3px;
    overflow: hidden;
    background-color: orangered;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover{
      color: white;
  }


 .images{  
    display: flex;
    justify-content: center;
    display: grid;
   border: 3px solid black ;
 }
 

footer a link{
text-decoration: none;
color: blue;
}

.a:after{
   
    content: ' \00A9';
      

}






